@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
}